<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.patient.mapper.AdverseReactionFeedbackMapper">

    <resultMap type="com.ruoyi.patient.domain.AdverseReactionFeedback" id="AdverseReactionFeedbackResult">
        <id property="id" column="id"/>
        <result property="reactionId" column="reaction_id"/>
        <result property="doctorId" column="doctor_id"/>
        <result property="feedbackContent" column="feedback_content"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!-- 获取所有反馈记录 -->
    <select id="getAllFeedbacks" resultMap="AdverseReactionFeedbackResult">
        SELECT id, reaction_id, doctor_id, feedback_content, create_time
        FROM gvp_adverse_reaction_feedback
    </select>

    <!-- 根据反馈ID获取信息 -->
    <select id="getFeedbackById" parameterType="Long" resultMap="AdverseReactionFeedbackResult">
        SELECT id, reaction_id, doctor_id, feedback_content, create_time
        FROM gvp_adverse_reaction_feedback
        WHERE id = #{id}
    </select>

    <!-- 根据不良反应ID获取反馈列表 -->
    <select id="getFeedbacksByReactionId" parameterType="Long" resultMap="AdverseReactionFeedbackResult">
        SELECT id, reaction_id, doctor_id, feedback_content, create_time
        FROM gvp_adverse_reaction_feedback
        WHERE reaction_id = #{reactionId}
    </select>

    <!-- 添加反馈记录 -->
    <insert id="addFeedback" parameterType="com.ruoyi.patient.domain.AdverseReactionFeedback" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gvp_adverse_reaction_feedback (reaction_id, doctor_id, feedback_content, create_time)
        VALUES (#{reactionId}, #{doctorId}, #{feedbackContent}, #{createTime})
    </insert>

    <!-- 更新反馈记录 -->
    <update id="updateFeedback" parameterType="com.ruoyi.patient.domain.AdverseReactionFeedback">
        UPDATE gvp_adverse_reaction_feedback
        SET reaction_id = #{reactionId},
            doctor_id = #{doctorId},
            feedback_content = #{feedbackContent},
            create_time = #{createTime}
        WHERE id = #{id}
    </update>

    <!-- 删除反馈记录 -->
    <delete id="deleteFeedback" parameterType="Long">
        DELETE FROM gvp_adverse_reaction_feedback WHERE id = #{id}
    </delete>

</mapper>
