<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.patient.mapper.DrugMapper">

    <resultMap type="com.ruoyi.patient.domain.Drug" id="DrugResult">
        <id property="id" column="id"/>
        <result property="drugName" column="drug_name"/>
        <result property="description" column="description"/>
        <result property="indications" column="indications"/>
        <result property="precautions" column="precautions"/>
    </resultMap>

    <!-- 获取所有药品 -->
    <select id="getAllDrugs" resultMap="DrugResult">
        SELECT id, drug_name, description, indications, precautions
        FROM gvp_drug
    </select>

    <!-- 根据药品ID获取药品信息 -->
    <select id="getDrugById" parameterType="Long" resultMap="DrugResult">
        SELECT id, drug_name, description, indications, precautions
        FROM gvp_drug
        WHERE id = #{id}
    </select>

    <!-- 添加药品 -->
    <insert id="addDrug" parameterType="com.ruoyi.patient.domain.Drug" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gvp_drug (drug_name, description, indications, precautions)
        VALUES (#{drugName}, #{description}, #{indications}, #{precautions})
    </insert>

    <!-- 更新药品信息 -->
    <update id="updateDrug" parameterType="com.ruoyi.patient.domain.Drug">
        UPDATE gvp_drug
        SET drug_name = #{drugName},
            description = #{description},
            indications = #{indications},
            precautions = #{precautions}
        WHERE id = #{id}
    </update>

    <!-- 删除药品 -->
    <delete id="deleteDrug" parameterType="Long">
        DELETE FROM gvp_drug WHERE id = #{id}
    </delete>

</mapper>
