<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.patient.mapper.MedicationLogMapper">

    <resultMap type="com.ruoyi.patient.domain.MedicationLog" id="MedicationLogResult">
        <id property="id" column="id"/>
        <result property="recordId" column="record_id"/>
        <result property="takeTime" column="take_time"/>
        <result property="isTaken" column="is_taken"/>
    </resultMap>

    <!-- 获取所有服药打卡记录 -->
    <select id="getAllMedicationLogs" resultMap="MedicationLogResult">
        SELECT id, record_id, take_time, is_taken
        FROM gvp_medication_log
    </select>

    <!-- 根据打卡ID获取记录 -->
    <select id="getMedicationLogById" parameterType="Long" resultMap="MedicationLogResult">
        SELECT id, record_id, take_time, is_taken
        FROM gvp_medication_log
        WHERE id = #{id}
    </select>

    <!-- 根据用药记录ID获取打卡记录列表 -->
    <select id="getMedicationLogsByRecordId" parameterType="Long" resultMap="MedicationLogResult">
        SELECT id, record_id, take_time, is_taken
        FROM gvp_medication_log
        WHERE record_id = #{recordId}
    </select>

    <!-- 添加服药打卡记录 -->
    <insert id="addMedicationLog" parameterType="com.ruoyi.patient.domain.MedicationLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gvp_medication_log (record_id, take_time, is_taken)
        VALUES (#{recordId}, #{takeTime}, #{isTaken})
    </insert>

    <!-- 更新服药打卡记录 -->
    <update id="updateMedicationLog" parameterType="com.ruoyi.patient.domain.MedicationLog">
        UPDATE gvp_medication_log
        SET record_id = #{recordId},
            take_time = #{takeTime},
            is_taken = #{isTaken}
        WHERE id = #{id}
    </update>

    <!-- 删除服药打卡记录 -->
    <delete id="deleteMedicationLog" parameterType="Long">
        DELETE FROM gvp_medication_log WHERE id = #{id}
    </delete>

</mapper>
