<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.patient.mapper.MedicationRecordMapper">

    <resultMap type="com.ruoyi.patient.domain.MedicationRecord" id="MedicationRecordResult">
        <id property="id" column="id"/>
        <result property="patientId" column="patient_id"/>
        <result property="drugId" column="drug_id"/>
        <result property="dosage" column="dosage"/>
        <result property="frequency" column="frequency"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="status" column="status"/>
    </resultMap>

    <!-- 获取所有用药记录 -->
    <select id="getAllMedicationRecords" resultMap="MedicationRecordResult">
        SELECT id, patient_id, drug_id, dosage, frequency, start_date, end_date, status
        FROM gvp_medication_record
    </select>

    <!-- 根据用药记录ID获取信息 -->
    <select id="getMedicationRecordById" parameterType="Long" resultMap="MedicationRecordResult">
        SELECT id, patient_id, drug_id, dosage, frequency, start_date, end_date, status
        FROM gvp_medication_record
        WHERE id = #{id}
    </select>

    <!-- 根据患者ID获取用药记录 -->
    <select id="getMedicationRecordsByPatientId" parameterType="Long" resultMap="MedicationRecordResult">
        SELECT id, patient_id, drug_id, dosage, frequency, start_date, end_date, status
        FROM gvp_medication_record
        WHERE patient_id = #{patientId}
    </select>

    <!-- 根据药品ID获取用药记录 -->
    <select id="getMedicationRecordsByDrugId" parameterType="Long" resultMap="MedicationRecordResult">
        SELECT id, patient_id, drug_id, dosage, frequency, start_date, end_date, status
        FROM gvp_medication_record
        WHERE drug_id = #{drugId}
    </select>

    <!-- 添加用药记录 -->
    <insert id="addMedicationRecord" parameterType="com.ruoyi.patient.domain.MedicationRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gvp_medication_record (patient_id, drug_id, dosage, frequency, start_date, end_date, status)
        VALUES (#{patientId}, #{drugId}, #{dosage}, #{frequency}, #{startDate}, #{endDate}, #{status})
    </insert>

    <!-- 更新用药记录 -->
    <update id="updateMedicationRecord" parameterType="com.ruoyi.patient.domain.MedicationRecord">
        UPDATE gvp_medication_record
        SET patient_id = #{patientId},
            drug_id = #{drugId},
            dosage = #{dosage},
            frequency = #{frequency},
            start_date = #{startDate},
            end_date = #{endDate},
            status = #{status}
        WHERE id = #{id}
    </update>

    <!-- 删除用药记录 -->
    <delete id="deleteMedicationRecord" parameterType="Long">
        DELETE FROM gvp_medication_record WHERE id = #{id}
    </delete>

</mapper>
